.navbar {
    padding: 2rem;
}
body {
    /* background: #bebebe; */
    background: linear-gradient(0deg, rgba(34,67,195,1) 0%, rgba(45,224,253,1) 100%);
}

.todo {
    display: flex;
    background: #fff;
    border-radius: 0.6rem;
    border-top: 1rem;
    box-shadow: 5px 5px 10px 0 #333;
    margin: 1.5rem 0;
    opacity: 80%;
}
.btn-danger {
    background-color: #5c85cf;
    border-color: darkblue;
}

.todo:hover {
    box-shadow: 5px 5px 10px 2px #333; 
}
.todo:active {
    box-shadow: 5px 5px 5px 0 rgb(202, 198, 202); 
}

.completed h3{
    text-decoration: line-through;
    color: #000;
}
.todo h3 {
    flex: 1;
    cursor: pointer;
}